.composition__content-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}

.composition__img {
    width: 100%;
}


@media (min-width: $tablet-width) {
    .composition__content-wrapper {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
        padding-bottom: 70px;
    }

    .composition__button {
        margin-right: 500px;
    }
}

@media (min-width: $desktop-width) {
    .composition {
        display: flex;
    }

    .composition__img-wrapper {
        display: none;
    }

    .composition__content-wrapper {
        flex-basis: 50%;
        align-self: center;
        margin-left: auto;
        padding-left: 114px;
        box-sizing: border-box;
        padding-top: 97px;
        padding-bottom: 0;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: -85px;
            left: -937px;
            width: 966px;
            height: 1021px;
            border: 1px solid rgba(255,255,255,.2);
        }
    }
}