.decor__content-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}

.decor__img {
    width: 100%;
}

.decor__pictures-wrapper {
    margin-right: -20px;
}

@media (min-width: $tablet-width) {
    .decor__content-wrapper {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
        padding-bottom: 70px;
    }

    .decor__button {
        margin-right: 500px;
    }

    .decor__pictures-wrapper {
        order: -1;
        width: 650px;
        margin: 0 auto;
    }
}

@media (min-width: $desktop-width) {
    .decor {
        display: flex;
    }

    .decor__img-wrapper {
        display: none;
    }

    .decor__content-wrapper {
        position: relative;
        width: 50%;
        align-self: center;
        margin-left: auto;
        padding-left: 114px;
        box-sizing: border-box;
        padding-top: 83px;
        padding-bottom: 0;
        padding-right: 95px;
        
        &::before {
            content: "";
            position: absolute;
            top: -85px;
            left: -937px;
            width: 966px;
            height: 1021px;
            border: 1px solid rgba(255,255,255,.2);
        }
    }

    .decor__pictures-wrapper {
        order: 0;
        width: 552px;
        margin-left: 0;
    }
}