.more-foto__link-text {
    font-family: 'Forum', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.more-foto__link {
    display: flex;
    margin-top: 144px;
}

.more-foto__link-img {
    margin-left: 29px;
}