.pictures {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 45px;
}

@media (min-width: $tablet-width) {
    .pictures {
        justify-content: space-between;
        order: -1;
        margin-top: 0;
    }

    .pictures__item-img {
        width: 145px;
        height: 145px;
    }
}

@media (min-width: $desktop-width) {
    .pictures {
        order: 0;
        margin-top: 100px;
        margin-bottom: 0;
    }
}
