.picture-list__item {
    position: relative;

    &:nth-child(2) {
        display: none;
    }
    &:nth-child(3) {
        display: none;
    }
    &:nth-child(4) {
        display: none;
    }
}

.picture-list__item-bc-img {
    width: 100%;
}

.picture-list__item-number {
    position: absolute;
    top: 23px;
    padding-left: 100px;
    font-family: 'Forum', cursive;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;

    &::before {
        content: "";
        position: absolute;
        top: 11px;
        left: 20px;
        width: 70px;
        height: 1px;
        background-color: #FFFFFF;

        &:hover {
            left: 0;
        }
    }

    &:hover {
        left: 20px;
    }
}

.picture-list__item-title {
    position: absolute;
    bottom: 20px;
    padding-left: 20px;
    padding-right: 19px;
    font-family: 'Forum', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
    opacity: .9;
}

@media (min-width: $tablet-width) {
    .picture-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .picture-list__item {
        position: relative;
    
        &:nth-child(2) {
            display: block;
        }

        &:hover {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 330px;
                height: 450px;
                background: rgba(0, 0, 0, 0.6);
            }
        }
    }

    .picture-list__item-bc-img {
        width: 330px;
        height: 450px;
    }

    .picture-list__item-number {
        padding-left: 20px;
    
        &::before {
            left: 50px;
        }
    }
}

@media (min-width: $desktop-width) {
    .picture-list {
        justify-content: center;
    }

    .picture-list__item {
        margin-right: 60px;

        &:nth-child(2) {
            display: block;
            margin-right: 60px;
        }
        &:nth-child(3) {
            display: block;
        }
        &:nth-child(4) {
            display: block;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .picture-list__item-number {
    
        &::before {
            top: 16px;
        }
    }
}