@import url('https://fonts.googleapis.com/css?family=Forum&display=swap&subset=cyrillic');
@import "./vendors/normalize.scss";
@import "./vendors/scaffolding.scss";
@import "./vendors/variables.scss";
@import "./blocks/catalog.scss";
@import "./blocks/footer.scss";
@import "./blocks/header.scss";
@import "./blocks/nav-list.scss";
@import "./blocks/nav.scss";
@import "./blocks/picture-list.scss";
@import "./blocks/social-list.scss";
@import "./blocks/special-sentence.scss";
@import "./blocks/toggel-list.scss";
@import "./blocks/wedding.scss";
@import "./blocks/bouquets.scss";
@import "./blocks/composition.scss";
@import "./blocks/decor.scss";
@import "./blocks/main-bouquets.scss";
@import "./blocks/main-composition.scss";
@import "./blocks/main-decor.scss";
@import "./blocks/main-wedding.scss";
@import "./blocks/button.scss";
@import "./blocks/button-order.scss";
@import "./blocks/button-order-small.scss";
@import "./blocks/pictures.scss";
@import "./blocks/text.scss";
@import "./blocks/title.scss";
@import "./blocks/modal.scss";

body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    background-color: #3B181E;; 
}
  
img {
    max-width: 100%;
    height: auto; 
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

a, button {
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}
  
.library {
    display: none; 
}